<div class="page-header">
  <h1><%= t('doorkeeper.authorizations.error.title') %></h1>
</div>

<main role="main">
  <% if @authorize_error %>
    <pre><%= @authorize_error %></pre>
  <% else %>
    <pre><%= @pre_auth.error_response.body[:error_description] %></pre>
  <% end %>
</main>
