<h1><%= t('devise.displayqr.google_authenticator_configuration') %></h1>

<div class="row">
  <div class="col-sm-6 col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading"><%= t('devise.displayqr.authenticator_token') %></div>
      <div class="panel-body">
        <%= form_for(resource, :as => resource_name, :url => [:refresh, resource_name, :displayqr], :html => {:method => :post}) do |f|%>
          <%= google_authenticator_qrcode(resource) %>
          <div class="field">
            <%= f.submit I18n.t('newtoken', {:scope => 'devise.registration'}) %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading"><%= t('devise.displayqr.authenticator_configuration') %></div>
      <div class="panel-body">
        <%= form_for(resource, :as => resource_name, :url => [resource_name, :displayqr], :html => { :method => :put }) do |f| %>
          <%= devise_error_messages! %>
          <%= f.hidden_field :tmpid, value: @tmpid %>

          <div class="field">
            <%= f.label :gauth_enabled, I18n.t('qrstatus', {:scope => 'devise.registration'}) %>
            <%= f.check_box :gauth_enabled %>
          </div>

          <div class="field">
            <%= f.label :gauth_token, I18n.t('enter_token', {:scope => 'devise.registration'}) %>
            <%= f.number_field :gauth_token, :autocomplete => :off %>
          </div>

          <div class="field">
            <%= f.submit I18n.t('submit', {:scope => 'devise.registration'}) %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>