<%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :email %>
      <%= @user.email %>
    </div>

    <% if @user.pending_reconfirmation? %>
        <div class="field">
          Currently waiting confirmation for: <%= resource.unconfirmed_email %>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :fname, t('users.first_name') %><br>
      <%= f.text_field :fname %>
    </div>

    <div class="field">
      <%= f.label :lname, t('users.last_name') %><br>
      <%= f.text_field :lname %>
    </div>

    <div class="field">
      <%= f.label :password %>&nbsp;<i>(leave blank if you don't want to change it)</i>
      <%= f.password_field :password, :autocomplete => 'off' %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>

    <div class="field">
      <%= f.label :time_zone, t('users.time_zone') %>
      <%= f.collection_select :time_zone, ActiveSupport::TimeZone.all, :name, :to_s %>
    </div>

    <div class="field">
      <%= f.label :enable_gravatar, t('users.enable_gravatar') %>
      <%= f.check_box :enable_gravatar %>
    </div>

    <div class="actions">
      <%= f.submit 'Update' %>
    </div>
<% end %>