<h1><%= t('users.your_account') %></h1>

<div class="my_account">
  <%- if show_gravatar(APP_CONFIG) -%>
  <div class="profile_image">
  <%= link_to(image_tag(@user.gravatar_url), 'https://en.gravatar.com/', :title => 'Change at https://en.gravatar.com/', :target => '_blank') %>
  </div>
  <%- end -%>
  <div class="user_attributes">
    <strong><%= t('users.email_address') %></strong>: <%= @user.email %><br />
    <strong><%= t('users.time_zone') %></strong>: <%= @user.time_zone %><br />
    <strong><%= t('users.enable_gravatar') %></strong>: <%= @user.enable_gravatar? ? t('general.yes') : t('general.no') %><br />
    <br />
    <strong><%= t('applications.authorizations') %></strong>: <%= link_to t('general.show'), oauth_authorized_applications_path, :target => '_blank' %><br />
  </div>
  <br />
  <div class="row">
    <div class="col-sm-6 col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading"><%= t('applications.allowed') %></div>

        <table class="table">
        <tr>
          <th><%= t('applications.name') %></th>
        </tr>
        <% (@user.applications.sort_by { |a| a.name }).each do |a| %>
          <tr><td><%= a.url =~ URI::regexp ? link_to(a.name, a.url) : a.name %></td></tr>
        <% end %>
        </table>
      </div>
    </div>
    <div class="col-sm-6 col-md-6">
      <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading"><%= t('users.roles') %></div>

          <table class="table">
            <tr>
              <th><%= t('users.roles.name') %></th>
              <th><%= t('users.attributes.description') %></th>
            </tr>
          <% @user.roles.each do |r| %>
            <tr>
              <td><%= r %></td>
              <td><%= User::ROLE_DESCRIPTIONS[r] %></td>
            </tr>
          <% end %>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading"><%= t('users.attributes.additional') %></div>

          <table class="table">
            <tr>
              <th><%= t('users.attribute') %></th>
              <th><%= t('users.attributes.description') %></th>
              <th><%= t('general.tables.actions') %></th>
            </tr>
            <tr>
              <td><%= t('users.google_authenticator_enabled') %></td>
              <td><%= current_user.gauth_enabled == '1' ? t('general.yes') : t('general.no') %></td>
              <td><%= link_to t('general.manage'), user_displayqr_path %></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_user_path %>