<h1><%= I18n.t('submit_token_title', {:scope => 'devise'}) %></h1>

<%= form_for(resource, :as => resource_name, :url => [resource_name, :checkga], :html => { :method => :put }) do |f| %>
	<%= f.hidden_field :tmpid, {:value => @tmpid} %>
    <div class="field">
      <%= f.label :gauth_token, t('devise.checkqa.authenticator_token') %>
	  <%= f.text_field :gauth_token, :autocomplete => :off %>
    </div>

    <div class="field">
      <%= f.submit I18n.t('submit_token', {:scope => 'devise'}) %>
    </div>
<% end %>