<h1><%= t('users.login') %></h1>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, :autofocus => true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, :autocomplete => :off %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.label :remember_me %>
      <%= f.check_box :remember_me %>
    </div>
  <% end -%>

  <div class="field">
    <%= f.submit t('users.login') %>
  </div>
<% end %>

<%= render 'devise/shared/links' %>
