<p>Welcome <%= @resource.full_name ? @resource.full_name : @resource.email %>!</p>

<p>You can confirm your account email through the link below:</p>

<p>
  <%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @token) %> <br /><br />
  <%= link_to confirmation_url(@resource, :confirmation_token => @token), confirmation_url(@resource, :confirmation_token => @token) %>
</p>
